
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Answered Forms: {{answeredForms.length}} found </h3>
                </div>
                <div class="panel-body">                                                             
                    <div class="bs-example table-responsive">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Submitted Date</th>
                                    <th></th>                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="form in answeredForms">
                                    <td>{{form.answeredDate | date:'d/M/yy h:mm a'}}</td>
                                    <td><a href='{{getAnsweredForm(form.id)}}'>View</a>                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Access Url</h3>
                </div>
                <div class="panel-body">                                            
                    <div class="well" style="text-align: center">{{accessUrl}}</div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Access Key</h3>
                </div>
                <div class="panel-body">                                            
                    <div class="well" style="text-align: center">{{formDefinition.accessKey}}</div>
                </div>
            </div>
        </div>
    </div>
    


    

</div>



